ion-tabs{
    ion-tab-bar{
        border-top-width: 1px;
        border-top-color: var(--ion-color-funacomplemen0);
        background: var(--ion-background-color);
            ion-tab-button{
                --color: var(--ion-color-funacomplemen0)
            }
    }

}

.ion-content-scroll-host {
    position: absolute;
    top: 0;
    left: 0;
  
    height: 100%;
    width: 100%;
    overflow-y: auto;
  }