<ion-header collapse="fade">
  <ion-toolbar>
    <ion-button slot="start" fill="clear">
      <ion-button color="funaprimary" class="backbtn" (click)="goBack()"
        ><ion-icon name="arrow-back-outline"></ion-icon
      ></ion-button>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [scrollY]="false">
  <div>
    <ion-grid [fixed]="true">
      <ion-card>
        <ion-avatar
          class="avatarUser"
          *ngIf="User.profilePicture === 'image.png'"
        >
          <ion-img src="../../../../assets/img/blank_user.png"></ion-img>
        </ion-avatar>
        <ion-avatar
          class="avatarUser"
          *ngIf="User.profilePicture != 'image.png'"
        >
          <ion-img [src]="User.profilePicture"></ion-img>
        </ion-avatar>
        <ion-card-header>
          <ion-card-title
            ><span class="user" style="display: flex; justify-content: center"
              >{{User.name}} {{User.lastname}}</span
            ></ion-card-title
          >
          <ion-card-subtitle
            class="userName"
            color="funacomplemen0"
            style="display: flex; justify-content: center"
            ><span class="user">@{{User.username}}</span></ion-card-subtitle
          >
        </ion-card-header>
        <ion-card-content> {{User.bio}} </ion-card-content>
        <ion-button
          class="Followbn_edit"
          fill="solid"
          color="funaprimary"
          expand="block"
          style="margin: 10px; padding: 10px"
          *ngIf="User.isFollowing === false"
          (click)="followUser()"
          >Follow</ion-button
        >
        <ion-button
          class="Followbn_edit"
          fill="solid"
          color="funaprimary"
          expand="block"
          style="margin: 10px; padding: 10px"
          *ngIf="User.isFollowing === true"
          (click)="followUser()"
          >UnFollow</ion-button
        >
        <div class="User-statics-container">
          <ion-grid [fixed]="true">
            <ion-row style="display: flex; justify-content: center">
              <ion-col size="auto" class="UserStats">
                <ion-item lines="none">
                  <p>Followers:</p>
                  <p>{{User.followers}}</p>
                </ion-item>
              </ion-col>
              <ion-col size="auto" class="UserStats">
                <ion-item lines="none">
                  <p>Following:</p>
                  <p>{{User.following}}</p>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </ion-card>
    </ion-grid>
  </div>
</ion-content>
