<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/main/tabs/home"
        icon="close-outline"
        color="funaprimary"
      ></ion-back-button>
    </ion-buttons>
    <ion-title>Edit your post</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="editPost()">Edit</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-col size="9">
        <ion-item lines="none">
          <ion-input
            placeholder="Title"
            [(ngModel)]="newTweet.title"
          ></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item lines="none">
          <ion-textarea
            placeholder="Content"
            [autoGrow]="true"
            [(ngModel)]="newTweet.content"
          ></ion-textarea>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-col>
      <ion-item lines="none">
        <ion-button
          (click)="takePicture()"
          color="funaprimary"
          class="photobtn"
          expand="block"
          style="
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 100%;
          "
        >
          <ion-icon name="camera" style="width: 100%; height: 100%"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-col>
    <ion-col>
      <ion-item lines="none">
        <ion-img
          class="profile-picture"
          [src]="newTweet.image"
          *ngIf="newTweet.image"
        ></ion-img>
      </ion-item>
    </ion-col>
  </ion-grid>
</ion-content>
