<ion-header collapse="fade">
  <ion-toolbar>
    <ion-grid [fixed]="true">
      <ion-row>
        <ion-col class="header">
          <ion-avatar
            class="miniAvatar"
            *ngIf="User.profilePicture === 'image.png'"
            (click)="viewUser(User._id)"
          >
            <ion-img src="../../../../assets/img/blank_user.png"></ion-img>
          </ion-avatar>
          <ion-avatar
            class="miniAvatar"
            *ngIf="User.profilePicture != 'image.png'"
          >
            <ion-img [src]="User.profilePicture"></ion-img>
          </ion-avatar>
        </ion-col>
        <ion-col class="header">
          <img class="centerheader" src="../../assets/img/funatics.png"
        /></ion-col>
        <ion-col class="header"> </ion-col>
      </ion-row>
    </ion-grid>
    <ion-segment
      [scrollable]="true"
      value="For_You"
      (ionChange)="changeSection($event)"
    >
      <ion-segment-button value="For_You"> For You </ion-segment-button>
      <ion-segment-button value="Following"> Following </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content [scrollY]="false">
  <div id="container" class="ion-content-scroll-host">
    <ion-list>
      <ion-item *ngFor="let Tweet of AllTweets">
        <ion-row class="wrapper">
          <ion-col size="2">
            <ion-avatar *ngIf="Tweet.owner.profilePicture === 'image.png'">
              <ion-img
                src="../../../../assets/img/blank_user.png"
                (click)="viewUser(Tweet.owner._id)"
              ></ion-img>
            </ion-avatar>
            <ion-avatar *ngIf="Tweet.owner.profilePicture != 'image.png'">
              <ion-img
                [src]="Tweet.owner.profilePicture"
                (click)="viewUser(Tweet.owner._id)"
              ></ion-img>
            </ion-avatar>
          </ion-col>

          <ion-col size="10">
            <ion-row class="tweet-info" (click)="viewPost(Tweet._id)">
              <ion-col size="12">
                <span class="user">{{Tweet.owner.name}}</span>
                <span class="handle">@{{Tweet.owner.username}}</span>
                <span> Created at: {{Tweet.createdAt | date:'short'}}</span>
                <span *ngIf="Tweet.edited"> Edited</span>
                <span *ngIf="Tweet.edited" class="handle">
                  {{Tweet.updatedAt | date:"short"}}</span
                >
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12">
                <div [innerHtml]="Tweet.title"></div>
                <div [innerHtml]="Tweet.content"></div>
                <img class="preview-img" [src]="Tweet.image" alt="" />
              </ion-col>
              <ion-grid [fixed]="true">
                <ion-row>
                  <ion-col class="bottonbtn">
                    <ion-icon
                      *ngIf="Tweet.isLiked === true"
                      name="flame"
                      (click)="toggleLike(Tweet,Tweet._id)"
                    ></ion-icon>
                    <ion-icon
                      *ngIf="Tweet.isLiked === false"
                      name="flame-outline"
                      (click)="toggleLike(Tweet,Tweet._id)"
                    ></ion-icon>
                    <label class="count" [innerHTML]="Tweet.likes"></label
                  ></ion-col>
                  <ion-col class="bottonbtn"
                    ><ion-icon
                      name="chatbox-outline"
                      (click)="makeComment(Tweet._id)"
                    ></ion-icon
                    ><label class="count" [innerHTML]="Tweet.comments"></label
                  ></ion-col>
                  <div *ngIf="ownerToken === Tweet.owner._id">
                    <ion-button fill="clear" (click)="EditTweet(Tweet._id)">
                      <ion-icon
                        class="OptTwits"
                        name="ellipsis-vertical"
                      ></ion-icon>
                    </ion-button>
                  </div>
                </ion-row>
              </ion-grid>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
