
<ion-content class="ion-padding ion-text-center">
    <div class="container">
        <div class="page-header">
            <h1 >Welcome to Funatics</h1>
            <h2>Funa with us</h2>
        </div>
          <img src="../../assets/img/funatics.png">

          <div class="button-container">
              <ion-button class="joinbtn" expand="block" color="funaprimary" routerLink="/login" routerDirection="forward">Log in</ion-button>
              <ion-button expand="block" color="dark" fill="clear" routerLink="/signup" routerDirection="forward">Signup</ion-button>
          </div>
    </div>
</ion-content>
