ion-toolbar{
    --border-width: 0 !important;
}

.header-md::after{
    background: none !important;
}

.container h1{
    margin-top: 0;
}

.backbtn{
    background-color:var(--ion-color-funaprimary);
    margin-left: 10px;
    border-radius: 10px;
}

ion-avatar.miniAvatar{
    max-width: 30px !important;  //any size
    max-height: 30px !important;
    }

ion-col.header{

    text-align: center;
  }
  
.ion-content-scroll-host {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow-y: auto;
   
  }

.header-md::after{
    background: none !important;
}
img.centerheader{
    width: 30px;
    height: 30px;
}

ion-col.header{

    text-align: center;
  }
  
.ion-content-scroll-host {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow-y: auto;
  }

.header-md::after{
    background: none !important;
}
img.centerheader{
    width: 30px;
    height: 30px;
}

.header-md::after{
    background: none !important;
}

.container h1{
    margin-top: 0;
}


.tweet-info_principal{
    font-size: 0.8em;

}

ion-avatar.miniAvatar{
max-width: 30px !important;  //any size
max-height: 30px !important;
}

ion-avatar.avatar_principal{

max-width: 45px !important;  //any size
max-height: 45px !important; //any size
margin-top: 5px;
}

.name{
    font-size: 600;
}

.handle{
    padding-left: 4px;
    color:var(--ion-color-funaprimary)
}

.wrapper_principal{
    border: 1px solid var(--ion-color-funaprimary);
    border-radius: 20px;
    margin: 10px;
}


.preview-img_principal{
    border: 1px solid var(--ion-color-funacomplemen1-contrast);
    border-radius: 10px;

}

ion-col.bottonbtn_principal {
    text-align: center;
  }

  label.count{
    margin-left: 3px;
  }

ion-icon.OptTwits{
  
    color: aliceblue;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
  }